@import "generic/reset";
@import "settings/colors";
@import "settings/fonts";
@import "settings/mixins";
@import "elements/home-header";
@import "elements/home-three-columns";
@import 'elements/home-steps';
@import 'elements/home-about';
@import 'elements/home-organizations';


* {
  box-sizing: border-box;
}

body {
  font-family: $font-base;
}

a {
  text-decoration: none;
}

.container {
  width: 1352px;
  margin: 0 auto;

  @include notebook {
    width: 100%;
    padding: 0 15px;
  }
}
